<div class="container-fluid p-0">
    <h1 class="my-4">Wraps Up Popular Categories🤩</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-3" *ngFor="let category of allCategories" (click)="loadProdcutByCategory(category.name)">
            <div class="card">
                <img [src]="category.img ?? '../../../../assets/no-photo.png'" alt="">
                <div class="p-3">
                    <h2 class="mb-1">{{category.name}}</h2>
                    <p *ngIf="category.totalitems" class="mb-0">{{category.totalitems}} Total Items</p>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-container d-flex justify-content-center" *ngIf="loader">
        <div
          class="spinner-grow"
          style="width: 3rem; height: 3rem; color: #aa5f71"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
</div>