<div class="container-fluid">
    <div class=" px-0 py-5">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <a class="navbar-brand d-flex align-items-center" href="#" style="width: 200px;">
                          <img src="../../../assets/IniHabesha.png" alt="" class="w-75">
                          </a>
                       <a href="">
                        <img src="../../../assets/app.png" alt="google-btn" class="my-3 w-100">
                       </a>
                     
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <h1>Get Exclusive Deals in your Inbox</h1>
                        <div class="input-div">
                            <input type="text" class="form-control me-2" placeholder="Youremail@gmail.com">
                            <button class="btn btn-orange">Subscribe</button>
                        </div>
                        <!-- <p class="mt-3">Our social media sites are below</p> -->
                        <div class="mt-3 gap-2">
                            <p>4427 El Cajon Boulevard, San Diego, CA9</p>
                            <p>Phone number : <a href="tel:6198802126" class="phonenumber">(619) 880-2126</a></p>
                            <p>Email : <a href="mailto:inirescorp@gmail.com
                             " class="phonenumber">inirescorp&#64;gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <h1>Legal Pages</h1>
                        <div class="d-flex flex-column gap-3">
                            <a href="">Terms and Conditions</a>
                            <a href="">Privacy Policy</a>
                            <a routerLink="/contact-us">About Us</a>
                            <a routerLink="/about-us">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>