<div class="container-fluid mt-3">
    <div class="row jumbotron-wrapper align-items-center">
      <div class="col-lg-6 col-md-6">
          <p class="lead mb-0">Hungry? Place your order online now for dine-in, pickup, or reservations.</p>
        <h1>Click. Chill. Chow<br><span class="text-orange"> Down  with I’N I.</span></h1>
        <!-- <p class="postcode">Enter a postcode to see what we deliver</p>
        <div class="input-div">
          <input type="text" class="form-control me-2" placeholder="e.g. EC4R 3TE">
          <button class="btn btn-orange">Search</button>
        </div> -->
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="w-100 h-100 back-div d-flex justify-content-center align-items-center">
            <img src="../../../../assets/jumb.png" alt="Food" class="hero-img">
        </div>
      </div>
    </div>
  </div>
  