<div class="container-fluid rounded-4 mt-4 mb-4 py-5" style="background-color: #83d51a; color: white;">
    <div class="row text-center">
        <!-- Registered Riders -->
        <div class="col-lg-3 col-md-6 reg">
            <h2 class="mb-0">546+</h2>
            <p class="mb-0">Registered Riders</p>
        </div>     

        <!-- Orders Delivered -->
        <div class="col-lg-3 col-md-6 ord">
            <h2 class="mb-0">789,900+</h2>
            <p class="mb-0">Orders Delivered</p>
        </div>

        <!-- Restaurants Partnered -->
        <div class="col-lg-3 col-md-6 res">
            <h2 class="mb-0">690+</h2>
            <p class="mb-0">Total categories</p>
        </div>

        <!-- Food Items -->
        <div class="col-lg-3 col-md-6">
            <h2 class="mb-0">17,457+</h2>
            <p class="mb-0">Food Items</p>
        </div>
    </div>
</div>