<div class="container-fluid p-0">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<!-- Facebook Button -->
<!-- <a href="https://www.facebook.com/yourfacebookpage" class="icon-button facebook-button" target="_blank">
  <i class="fab fa-facebook"></i>
</a> -->
<a href="tel:+193724757474" class="icon-button call-button">
  <i class="fa fa-phone"></i>
  <!-- <div class="icon-tooltip">
    Call us
  </div> -->
</a>
<a href="https://wa.me/+193724757474" class="icon-button whatsapp-button" target="_blank">
  <i class="fab fa-whatsapp"></i>
  <!-- <div class="icon-tooltip">
    <span style="font-weight: 500;"> Need help? </span><br> Chat with us
  </div> -->
</a>
<a href="https://www.google.com/maps/place/Soso+Cuisine/@39.6472854,-84.2435821,16z/data=!4m10!1m2!2m1!1srestaurant+1913+South+Alex+Rd+Dayton+Ohio+45449+in+google!3m6!1s0x884089000da11d9d:0xb6c2774559d0ddb6!8m2!3d39.6472854!4d-84.2435821!15sCjlyZXN0YXVyYW50IDE5MTMgU291dGggQWxleCBSZCBEYXl0b24gT2hpbyA0NTQ0OSBpbiBnb29nbGUiA4gBAVoxIi9yZXN0YXVyYW50IDE5MTMgc291dGggYWxleCByZCBkYXl0b24gb2hpbyA0NTQ0OZIBEmFmcmljYW5fcmVzdGF1cmFudOABAA!16s%2Fg%2F11lmdsr9lc?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="icon-button gmail-button" target="_blank">
  <i class="fab fa-google"></i>
  <!-- <div class="icon-tooltip ">
    <span style="font-weight: 500;">Need assistance?</span><br> Email us
  </div> -->
</a>