<div class="py-3 container">
    <div class="row jumbotron-wrapper align-items-center">
      <div class="col-lg-6 col-md-6">
          <p class="lead mb-0">Order Restaurant food, takeaway and groceries.</p>
        <h1>Feast Your Senses, <span class="text-orange">Fast and Fresh</span></h1>
        <p class="postcode">Enter a postcode to see what we deliver</p>
        <div class="input-div">
          <input type="text" class="form-control me-2" placeholder="e.g. EC4R 3TE">
          <button class="btn btn-orange">Search</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 ">
        <div class="w-100 h-100 back-div">
            <img src="../../../../assets/jumotron.svg" alt="Food" class="hero-img">
        </div>
      </div>
    </div>
  </div>
  