<div class="container-fluid mt-3">
    <div class="row jumbotron-wrapper align-items-center">
      <div class="col-lg-6 col-md-6">
          <p class="lead mb-0">Order delicious restaurant meals for dine-in, takeout, or delivery.</p>
        <h1>Authentic African Flavors,<br><span class="text-orange">Just a Click Away!</span></h1>
        <!-- <p class="postcode">Enter a postcode to see what we deliver</p>
        <div class="input-div">
          <input type="text" class="form-control me-2" placeholder="e.g. EC4R 3TE">
          <button class="btn btn-orange">Search</button>
        </div> -->
      </div>
      <div class="col-lg-6 col-md-6 ">
        <div class="w-100 h-100 back-div">
            <img src="../../../../assets/jumb.png" alt="Food" class="hero-img">
        </div>
      </div>
    </div>
  </div>
  