.container-fluid {
    max-width: 100%;
    width: 90% !important;
}
@media screen and (max-width:500px) {
    .container-fluid {
        max-width: 100%;
        width: 98% !important;
    }
}


  
  form {
    background: #fff;
  }
  
  h5 {
    color: #333;
  }
  .btn-checkout {
    width: auto;
    height: 50px;
    border-radius: 8px;
    padding: 0px 30px;
    color: white;
    background: #83d51a;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;

}
  .bg-success{
    background-color: #83DF1A !important;
  }
  input:focus,
  textarea:focus {
    border-color: #83DF1A;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  textarea{
    padding-top: .8rem !important;
  }
  .form-control{
    height: 50px;
    border-radius: 24px;
  }
  .btn-order {
    color: #ffffff !important;
    border-width: 0px !important;
    background-color: #ff3131;
    padding: 10px 1.3rem;
    font-size: 1rem;
  }
  
  .btn-Goback {
    color: #ffffff !important;
    border-width: 0px !important;
    background-color: #83d51a;
    padding: 10px 1.3rem;
    font-size: 1rem;
  }
  
  .btn-link{
    color:#ff3131;
  }

  textarea{
    padding: 0 .6rem;
  }